@import "tailwindcss";

@theme inline {
  --color-primary: #175e82;
  --color-background-light: #f9fafa;
  --color-background-dark: #17191c;
  --font-display: var(--font-epilogue);
  --font-sans: var(--font-noto-sans);
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.whisper-shadow {
    box-shadow: 0 10px 30px -10px rgba(23, 94, 130, 0.08), 0 4px 6px -2px rgba(0, 0, 0, 0.02);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
